@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Hammersmith+One&family=Poppins:wght@900&family=Sigmar&display=swap');
* {
    box-sizing: border-box;
  }



/* Barra de navegação  */

.container {
    width: 100%;
    
    }
    
    header,  .navbar{
    background-color: #2C3C51F5 ;
    
    }
    
    #nav-container {
    padding-top: 0;
    padding-bottom: 0;
    }
    
    #logo {
    width: 50px;
    }
    
    .navbar-brand {
    padding: 0;
    color: white;
    }
    
    .navbar-brand:hover {
    color: white;
    }
    
    #navbar-links a {
    
    color: white;
    height: 60px;
    left: 100px;
    top: 90px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-align:end;
    
    
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
    }
    
     

     /*Configurações de grid*/

   
     

     .grid-container{
        display: grid;
        grid-template-columns: 100% 100%; 
        align-items: center;
        background-image: url(../IMG/FUNDO.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        
        
      
     }

    
     /*Imagem do celular*/
.img-fluid {
    width: 300%;
    height: auto;
    position: relative;
    z-index: 1;
   
}


h1 {
    width: 90%;
    padding: 10%;
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 400;
    font-size: 800%;
    line-height: 130px;
    text-align: center;
    color: #2C3C51;
    mix-blend-mode: darken;
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    
    }
    h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    
    }

   .texto-italico{
      font-style: italic;

    }
    
    p {
    font-family: 'Hammersmith One', sans-serif;
    width: 90%;
    margin-top: -70px;
    font-weight: 100;
    font-size: 300%;
    line-height: 150%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    display: flex;
   
    color: #000000; 
    }

    /*Estilização da parte do botão de baixar app*/
    
    .listra {
        
        background-color: #2C3C51;
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        width: 100%;
        height: 300px;
        left: 0px;
        top: 590px;
        background:#2C3C51;
        padding: 70px;
        }


        .duas-imagens {
          position: relative;
        }

        /*Estilização do botão de baixar app*/
        .btn-outline {
            width: 18%;
            display: flex;
            justify-content: center;
            height: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            font-weight: 500px;
            font-size: 20px;
            line-height: 30px;
            border-radius: 90px;
            background-color: white;
            color: #2C3C51;
            
            
             }

   /*Estilização do carrossel*/

  
    
   

    .slider {
    margin: 0 auto;
    height:900px;
    overflow: hidden;
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(232, 232, 232);
    }

    .slides {
        width: 400%;
        height: 300px;
        display: flex;
        
    }

    .slides input {
        display: none;
    }
    
    .slide {
        width: 25%;
        position: static;
    }

    .slide img {  
        width: 100%;
        height: 80%;
       
    }

    .manual-navigation {
        position:absolute;
        width: 100%;
        margin-top: 30%;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn {
        border: 2px solid black;
        padding: 5px;
        border-radius: 25px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child){
        margin-right: 30px;
    }
    
    .manual-btn:hover{
        background-color: rgb(0, 0, 0);
    }
    
    #radio1:checked ~ .primeiro{
        margin-left: 0;
    }
    
    #radio2:checked ~ .primeiro{
        margin-left: -25%;
    }
    
    #radio3:checked ~ .primeiro{
        margin-left: -50%;
    }
    
    /*#radio4:checked ~ .primeiro{
        margin-left: -75%;
    }*/
    
    /*Navegação automática*/

    .navigation-auto div{
       
        padding: 5px;
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .navigation-auto{
        position: absolute;
        width: 100%;
        margin-top: 47%;
        display: flex;
        justify-content: center;
    }
    
    .navigation-auto div:not(:last-child){
        margin-right: 30px;
    }
    
    /* Deixar o botão preenchido, quando o campo estiver ativo*/
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: rgb(232, 232, 232);
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: rgb(232, 232, 232);
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: rgb(232, 232, 232);
    }
    
    /*#radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: black;
    }*/




    

    /*Configuração da parte "Sobre"*/

    /*Estilização em grid*/

    
    

    .grid-container-3 {
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 100% 100% 100% 100% 100%;
        gap: 10px;
        padding: 10px;
       justify-content: center;
    }

    .img-visao img {
      width: 100%;
      height: auto;
      
    }

   
     

    .about p{
        font-size: 200%;
      padding: 10%;
        text-align: justify;
        display: flex;
        justify-content: center;
    }

    .about h2 {
      font-size: 250%;
      text-align: center;
      display: flex;
      justify-content: center;
    }

  


    /*Carrossel dos desenvolvedores*/

     

  
  
  .carousel-images.active {
    transform: translateX(-50%);
  }

 

 

  .next-button {
    right: 0;
    
   
  }

  .carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button, .next-button {
    background: transparent;
    border: none;
    font-size: 40px;
 
    color: black;
   
    cursor: pointer;
  }
  

  .carousel-images img {
    border-radius: 100%;
    width: 120%;
  
  }


/*Estilização para o card em que apareceram os links
das redes de cada desenvolvedor*/
  .card {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    width: 15%;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
  
    
}
  
  
.card a {
  color: #000000;
  font-size: 200%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.card a span {
  margin-right: 10px;
}

.card a i {
  font-size: 54px;
}
  .carousel {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    
    
  }
  
  .carousel-images {
    display: flex;
    width: 180%;
    height: 600px;
    overflow: hidden;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    justify-content: space-around;
    
    
  }

  .image-container:hover{
    width: 7%;

  }

  
  
  .carousel-images img {
    width: 125%;
    align-items: center;
  }
  
  

  #img-2:checked ~ #img-1 {
    margin-left: -25%;
}


/*Estilização dos icones do rodapé*/

.grid-container-5 {
  display: grid;
  background-color: #2C3C51;
  border-bottom: solid #000000;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: end;
  padding: 1%;
}

.logo {
  display: flex;
  padding: 1%;
}

.logo a {
  font-size: 160%;
 
}

/*Configurações do rodapé*/

.grid-container-6 {
  display: grid;
  grid-template-columns: 100% 100% 100%;
  background-color: #2C3C51;
  height: 400px;
}

/*Links*/
.list-group-item {
  color: white;
  font-size: 150%;
  text-decoration: none;
}

.links a {
  text-decoration: none;
}


/*Serviços do site*/



.servicos a {
  text-decoration: none;
  font-size: 100%;
  color: white;
  text-align: justify;
  display:flex;
  justify-content: end;
}

.servicos p {
  font-size: 100%;
  color: white;
  text-align: justify;
  display:flex;
  justify-content: end;
}

/*estilização do botão enviar email*/

.btn-light a{
  color: #000000;
  text-decoration: none;
  font-size: 150%;
}

.btn-light {
  width: 40%;
  height: 40px;
  padding: 1px;
}

    
    
